{#=== Options ===========================================================================================================#}

{% set weekdays = {
    'mon': 'Monday',
    'tue': 'Tuesday',
    'wed': 'Wednesday',
    'thu': 'Thursday',
    'fri': 'Friday',
    'sat': 'Saturday',
    'sun': 'Sunday'
} %}

{% set default_list = {
  'mon': '',
  'tue': '',
  'wed': '',
  'thu': '',
  'fri': '',
  'sat': '',
  'sun': ''
} %}

{% set list = context.content.get(contentkey)|default(default_list) %}
{% set current_list = list|json_decode %}

{#=== FIELDSET =======================================================================================================#}
<fieldset class="form-group bolt-field-storehours">
  <label class="main control-label col-xs-12">Hours: </label>
  <div class="col-xs-12">
    {% for day, value in current_list|default(default_list) %}
    {% set key_day = key ~ '[' ~ day ~ ']' %}
    <div class="row">
      <label class="main col-xs-3 control-label" for="{{ key_day }}">{{ weekdays[day] }}</label>
      <div class="col-xs-9">
          <input class="form-control js-storehours-{{ key }}" id="{{ key_day }}" name="{{ day }}" maxlength="255" type="text" value="{{ value }}">
      </div>
    </div>
    {% endfor %}

    <textarea id="storehours-{{ key }}" name="{{ name }}" class="hide">{{ list }}</textarea>
    </div>
</fieldset>

<script>
  $( ".js-storehours-{{ key }}" ).change(function( event ) {
    var {{ key }}_fields = JSON.stringify($('.js-storehours-{{ key }}').serializeObject());
    $( "#storehours-{{ key }}" ).val({{ key }}_fields);
    event.preventDefault();
  });
</script>
